<md-content layout="row" layout-align="space-around" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Login</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="vm.form">
                <md-content>
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input type="text" required name="username" ng-model="vm.user.userName" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" required name="password" ng-model="vm.user.password"/>
                    </md-input-container>
                </md-content>
                <p class="md-warn" ng-if="vm.error">Invalid User Name or Password</p>
                <md-button ng-disabled="vm.form.$invalid" class="md-raised md-primary" aria-label="Login" ng-click="vm.login()">LOGIN</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>